@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-container {
    @apply w-full rounded-lg bg-white p-5 shadow-md transition-colors duration-300 dark:bg-dark-500;
  }

  .title {
    @apply text-xl font-bold text-black lg:text-2xl dark:text-neutral-100;
  }
}

:root {
  --white: #ffffff;
  --black: #14151b;
  --dark-500: #122031;
  --dark-700: #020d1a;
  --success: #2e7b32;
  --error: #d32f2f;
  --primary: #5750f1;
  --neutral-100: #f1f2f4;
  --neutral-200: #f6f7f8;
  --neutral-500: #e4e7eb;
  --neutral-700: #4b5563;
  --neutral-900: #374151;
  --overlay: #00000066;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

button {
  outline: none;
}
