@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-container {
    @apply w-full rounded-lg bg-white p-5 shadow-md transition-colors duration-300 dark:bg-dark-500;
  }

  .title {
    @apply text-xl font-bold text-black lg:text-2xl dark:text-neutral-100;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
